.result_container {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  min-width: 320px;
}
.result_pattern_container {
  position: relative;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.result_comment {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 43px;
  font-weight: 600;
  color: #acaac5;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.comment_left {
  position: absolute;
  left: 20px;
}

.comment_right {
  position: absolute;
  right: 55px;
}

.result_pattern_control1 {
  width: 100%;
  max-width: 600px;
  position: relative;
  z-index: 1;
}
.result_pattern_control2 {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.result_pattern {
  width: 100%;
  height: auto;
}

.mask_circle {
  position: absolute;
  width: 70%;
  right: -180px;
  top: 5%;
}

.rotating_mask {
  -webkit-animation: rotating_mask 5s linear infinite;
  -moz-animation: rotating_mask 5s linear infinite;
  -ms-animation: rotating_mask 5s linear infinite;
  -o-animation: rotating_mask 5s linear infinite;
  animation: rotating_mask 5s linear infinite;
}

@-webkit-keyframes rotating_mask /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating_mask {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.mask_line {
  border-bottom: 2px dashed #000000;
  height: 2px;
  width: 100%;
  opacity: 0.3;
}

.mask_line:first-child {
  margin-bottom: 30px;
}

.mask_line:last-child {
  margin-top: 30px;
}

/*
*
* user name, mask basic info
*
*/

.result_mask_information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  margin-top: 100px;
}

.result_acquaintance_name {
  margin-right: 20px;
}

.result_basic_info_container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.details_button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.result_basic_information {
  font-size: 20px;
  width: 100%;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-weight: 550;
  opacity: 0.6;
  line-height: 45px;
  text-align: center;
  word-break: keep-all;
  padding: 0 15px 0 15px;
}

/*
*
* result additional info / GOOD & BAD
*
*/

.result_divide {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result_divide svg {
  margin: 0 10px 0 10px;
  width: 60px;
  height: 100%;
}

.result_divide .line {
  border-bottom: 2px dashed #000000;
  width: calc(50% - 70px);
  height: 40px;
  opacity: 0.3;
}

.result_divide .white_line {
  border-color: white;
}

.result_additional_info_container {
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-weight: 600;
  word-break: keep-all;
}

.result_additional_info_container .good_and_bad {
  width: 100%;
}
.good_and_bad .title {
  font-size: 32px;
  margin-bottom: 40px;
}

.good_and_bad .info {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.good_and_bad .small_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.good_and_bad ul {
  padding: 0;
  margin: 0;
  padding-inline-start: 15px;
  font-weight: 550;
  opacity: 0.6;
  list-style-type: none;
}

.good_and_bad ul li {
  margin-bottom: 35px;
  position: relative;
  line-height: 35px;
}

.good_and_bad ul li::before {
  content: "-\a0";
  position: absolute;
  transform: translateX(-100%);
}

.good_info {
  width: 450px;
  margin-right: 10px;
}
.bad_info {
  width: 450px;
}

/*
*
* result additional info / HOW TO GET ALONG
*
*/

.how_to_get_along {
  font-family: "Noto Sans CJK KR", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 580px;
  color: white;
  opacity: 0.8;
}

.how_to_get_along .title {
  align-self: center;
  margin-bottom: 50px;
  font-weight: 550;
  font-size: 32px;
}

.how_to_get_along .info {
  font-weight: 600;
}

.how_to_get_along ol {
  padding: 0;
  margin: 0;
  font-size: 20px;
  word-break: keep-all;
  padding-inline-start: 55px;
  opacity: 0.8;
}
.how_to_get_along li {
  margin-bottom: 40px;
  line-height: 45px;
}

/* end of how to get along */
.best_with {
  font-family: "Noto Sans CJK KR", sans-serif;
  width: 100%;
  max-width: 400px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.best_with .title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  opacity: 0.8;
}

.best_with_masks_container {
  display: flex;
}

.gender_title {
  opacity: 0.7;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  word-break: keep-all;
  padding-left: 5px;
  padding-right: 5px;
}

.best_with_masks {
  margin-top: 30px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best_with_masks.man {
  border-right: 1px solid #635f87;
}

.best_with_masks.woman {
  border-left: 1px solid #635f87;
}
.partner_mask_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner_mask_image {
  width: 100%;
  margin: -12px;
}
.pattern_mask_name {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* end of best partner */

.result_button_container {
  margin-top: 100px;
  font-family: "Noto Sans CJK KR", sans-serif;
  display: flex;
  flex-direction: row;
  color: #ececec;
  margin-bottom: 70px;
  font-size: 16px;
  font-weight: 600;
  height: 125px;
}

.result_button_container .share_result {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.result_button_container .another_test {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.result_button {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #635f87;
  border-radius: 45px;
}

.result_button .share_button {
  width: 50px;
  height: 50px;
}
.share_method {
  top: -60px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.share_method .method_container {
  display: flex;
  position: absolute;
  top: 7px;
}
.share_method .method {
  width: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.share_method .method_background {
  width: 100px;
  height: 70.56px;
}

.share_method .method img {
  width: 40px;
  height: 40px;
}
.result_button_container svg {
  width: 50px;
  height: auto;
}

.poomang_comment {
  margin-bottom: 80px;
  color: #000000;
  opacity: 0.4;
}

@media only screen and (max-width: 1280px) {
  .result_container {
    margin-top: 50px;
  }
  .mask_circle {
    right: 15%;
  }
  .result_pattern_container {
    width: 100%;
    margin-bottom: 50px;
  }
  .result_pattern_control1 {
    max-width: 700px;
  }
  .result_comment {
    background: #76729f;
    font-size: 40px;
    width: 400px;
  }
  .comment_left {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: "#76729F";
  }
  .comment_right {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }
}

@media only screen and (max-width: 800px) {
  .result_basic_information {
    font-size: 16px;
    line-height: 35px;
    text-align: left;
  }
  .result_mask_information {
    font-size: 26px;
  }
  .result_comment {
    font-size: 28px;
    width: 250px;
  }
  .good_and_bad .info {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 15px;
  }
  .good_and_bad .title {
    font-size: 18px;
  }
  .good_and_bad .small_title {
    font-size: 17px;
  }
  .good_and_bad ul li {
    margin-bottom: 25px;
    line-height: 30px;
  }
  .good_info {
    width: 100%;
    margin-bottom: 60px;
  }
  .bad_info {
    width: 100%;
  }
  .how_to_get_along {
    max-width: 360px;
  }
  .how_to_get_along .title {
    font-size: 18px;
  }
  .how_to_get_along ol {
    font-size: 15px;
    padding-inline-start: 30px;
  }
  .how_to_get_along li {
    margin-bottom: 40px;
    line-height: 30px;
  }

  .best_with .title {
    font-size: 20px;
  }
}
