.infographic_container {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-weight: 600;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 30px;
}
.infographic {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mask_map {
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
}
.mask_map .title_container {
  font-size: 40px;
  font-weight: 550;
  display: flex;
}
.mask_analysis {
  width: 100%;
  max-width: 700px;
}

.mask_analysis .title_container {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mask_option_container {
  display: flex;
  justify-content: center;
}

.mask_option {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mask_option .cover_mask {
  position: absolute;
  opacity: 1;
}

.mask_option .transparent_mask {
  opacity: 0.2;
}

#my_dataviz {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.temperary {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

#my_dataviz svg {
  background-color: black;
}

.temperary svg {
  background-color: black;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.mask_analysis .title_container {
  display: flex;
  align-items: center;
}
.percentage_container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 100px;
}

.percentage_left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.percentage_right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.value {
  opacity: 0;
  transition: all 0.3s ease;
}
.box-1:hover ~ .type1 {
  opacity: 1;
}
.box-2:hover ~ .type2 {
  opacity: 1;
}
.box-3:hover ~ .type3 {
  opacity: 1;
}
.box-4:hover ~ .type4 {
  opacity: 1;
}
.box-5:hover ~ .type5 {
  opacity: 1;
}
.box-6:hover ~ .type6 {
  opacity: 1;
}
.box-7:hover ~ .type7 {
  opacity: 1;
}
.box-8:hover ~ .type8 {
  opacity: 1;
}
.box-9:hover ~ .type9 {
  opacity: 1;
}

.box-1:hover {
  fill: black;
}

rect {
  transition: all 0.3s ease;
}

image {
  pointer-events: none;
}

.cover1 {
  -ms-transform: translate(-189.38px);
  -moz-transform: translate(-189.38px);
  -webkit-transform: translate(-189.38px);
  -o-transform: translate(-189.38px);
  transform: translate(-189.38px);
}
.cover2 {
}
.cover3 {
}
.cover4 {
}
.cover5 {
}
.cover6 {
  transform: translate(-204.54px);
}
.cover7 {
}
.cover8 {
}
.cover9 {
}
.cover10 {
}

@media only screen and (max-width: 1200px) {
  .infographic {
    flex-direction: column;
    align-items: center;
  }
}
