.survey_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.basic_container {
  height: 70vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name_question {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}

.name_input_container {
  width: 80%;
  height: 60px;
  margin-top: 50px;
  border: 2px solid rgb(0, 0, 0);
  background: white;
  display: flex;
  align-items: center;
}

.name_input {
  background: none;
  width: calc(100% - 60px);
  height: 90%;
  border: none;
  border-width: 0;
  box-shadow: none;
  font-size: 18px;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-weight: 500;
}

.name_input:focus {
  outline: none;
}

.name_input_enter {
  width: 60px;
  height: 100%;
  border-width: 0 0 0 2px; /* top right bottom left */
  border-color: #000000;
  background: white;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.name_input_enter:hover {
  background: #c0baff;
}

.name_right {
  width: 35px;
  height: auto;
}

.name_comment {
  font-family: "Noto Sans CJK KR", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 500;
  color: #000000;
}

.yes_no_container {
  display: flex;
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.yes_no_square {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 25px;
  font-weight: 600;
  border: 3px solid #000000;
  transition: all 0.3s ease;
}

.yes_no_square:hover {
  width: 140px;
  height: 140px;
  font-size: 35px;
}

@media screen and (max-width: 900px) {
  .subtitle {
    font-size: 25px;
  }
  .question {
    font-size: 25px;
  }
  .one_circle {
    width: 150px;
    height: 150px;
    font-size: 25px;
  }
  .two_circles {
    height: 400px;
  }
  .name_input_container {
    height: 60px;
  }
}
