.survey_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  min-width: 340px;
}

.navbar_explain {
  align-self: flex-end;
  position: absolute;
  top: -40px;
  font-size: 12px;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-weight: 600;
  display: flex;
  opacity: 0.2;
}

.navbar_explain .navbar_name {
  margin-top: -1px;
}

.navbar_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 89px;
}

.navbar_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50.97px;
}

.basic_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second_page_basic {
  height: 70vh;
  min-height: 400px;
}
.first_page_basic {
  height: 60vh;
  min-height: 300px;
}

.name_question {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  word-break: keep-all;
  display: flex;
  flex-direction: row;
}

.name_input_container {
  width: 80%;
  height: 50px;
  margin-top: 50px;
  border: 2px solid rgb(0, 0, 0);
  background: white;
  display: flex;
  align-items: center;
}

.name_input {
  background: none;
  width: calc(100% - 60px);
  height: 90%;
  border: none;
  border-width: 0;
  box-shadow: none;
  font-size: 16px;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-weight: 500;
}

.name_input:focus {
  outline: none;
}

.name_input_enter {
  width: 60px;
  height: 100%;
  border-width: 0 0 0 2px; /* top right bottom left */
  border-color: #000000;
  background: white;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.name_input_enter:hover {
  background: #c0baff;
}

.name_right {
  width: 35px;
  height: auto;
}

.name_comment {
  font-family: "Noto Sans CJK KR", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 500;
  color: #000000;
}

/* second page */

.continue_question {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  word-break: keep-all;
}

.question_logo {
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 120px;
  height: auto;
  vertical-align: middle;
}

.yes_no_container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

.yes_no_square {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 25px;
  font-weight: 600;
  border: 3px solid #000000;
  transition: all 0.3s ease;
}

.left_yes {
  background: #ff7675;
  margin-right: 5%;
}

.right_no {
  margin-left: 5%;
  background: #00cec9;
}

/*
*
* rotate css
*
*/

.basic_container .rotate {
  width: 50px;
  height: auto;
  margin-bottom: 40px;
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
*
* rotate css end
*
*/

@media screen and (max-width: 1000px) {
  .navbar_explain {
    position: relative;
    top: -22px;
    width: 100%;
    justify-content: space-between;
  }
  .navbar_fake {
    width: 70px;
  }

  .navbar_middle {
    width: 70px;
    margin-right: 0;
  }
  .navbar_right {
    width: 70px;
    align-self: flex-end;
  }
  .name_question {
    font-size: 28px;
  }
  .continue_question {
    font-size: 28px;
  }
  .question_logo {
    width: 80px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .yes_no_square:hover {
    width: 140px;
    height: 140px;
    font-size: 30px;
  }
}
