.navbar {
  height: 140px;
  display: flex;
  z-index: 1;
  padding-left: 3vw;
  padding-right: 3vw;
  min-width: 340px;
}

.navbar_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo_container {
  width: 100px;
  display: flex;
}

.navbar_logo {
  width: 100%;
  height: 100%;
}

.navbar_menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0;
}

.navbar_menu {
  width: 90px;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_menu:first-of-type {
  width: calc(100% - 190px);
  display: flex;
  justify-content: flex-end;
}

.navbar_menu:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.menu_link1 {
  width: auto;
  height: 39px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-right: 50px;
}

.menu_link2 {
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .navbar {
    height: 100px;
  }
  .logo_container {
    width: 70px;
  }
  .navbar_menu {
    width: 70px;
  }
  .menu_link1 {
    margin-right: 0px;
  }
  .navbar_menu:first-of-type {
    width: 70px;
    display: flex;
    justify-content: center;
  }
  .navbar_container {
    justify-content: space-between;
  }
}
